body {
    color: #000;
}

.navbar-laravel {
    background-color: #000;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }    
}

.posts {
  .post {
     .date {
       font-size: 0.6em;
       color: #999999;
     }
     .title {
       font-size: 1.2em;
       font-weight: bold;
     }
     .body {
       font-size: 0.8em;
     }
     .image-position {
        .image {
           img {
            width: 70px;
            border-radius: 50%;
            background-color: black;
            margin-top: 10px;
           }
        } 
     }
     
  }
}

.row > * {
  width: auto;
}
